//default colors
$white: #FFFFFF;
$alabaster: #FAFAFA;
$whiteSmoke: #F2F2F2;
$wildSand: #f5f5f5;
$mercury: #E6E6E6;
$gainsboro: #e8e8e8;
$silver: #BFBFBF;
$silverChalice: #9F9F9F;
$osloGray: #95989A;
$doveGray: #666666;
$dusty_gray: #999999;
$mine_shaft: #222222;
$codGray: #1A1A1A;
$black: #000000;
$sail: #B3D4FC;
$dodgerBlue: #22B3FF;
$denim: #1573E6;
$bondiBlue: #A89BFF;
$electricViolet: #CE00FF;
$razzmatazz: #eb0068;
$red: #E53935;
$webOrange: #FFA700;
$atomicTangerine: #FF9557;
$harvestGold: #EFC26F;
$yellow: #FFFF00;
$harlequin: #27C909;

// WGU colors

$header:        #007FB0;
$blue:          #007FB0;
$titleBlue:     #007EB0;
$darkBlue:      #005380;
$disabled:      #757575;
$gray:          #4E5154;
$lightGray:     #F0F3F4;
$darkGray:      #c8c8c8;
$darkerGray:    #4D5154;
$gunMetalGray:  #333333;
$text:          #212529;
$lightRed:      #FCE9E9;
$body:          #F4F7F8;
